<%= form_for @post do |f| %>
  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>
  
  <div><%= f.label :content %></div>
  <div><%= f.text_area :content %></div>

  <div><%= f.label "Tags" %></div>
  <div><%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %></div>

  <h1>THIS IS NOT SHOWING UP</h1>
  <div><%= f.label "New Tag" %></div>
  <%= f.fields_for :tags, @post.tags.build do |tag| %>
    <%= tag.label :name %>
    <%= tag.text_field :name  %>
  <% end %>
  <div><%= f.submit "Create Post"%></div>
<% end %>
